<section class="section-sm">
  <div class="container-sm">
    <h1 class="head-md mb-2 text-center">Edit tweet</h1>

    <% if user_signed_in? %>
      <%= form_with(model: @tweet, html: { :class => "tweet-body"}) do |form| %>
        <% if @tweet.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this @tweet from being saved:</h2>

            <ul>
              <% tweet.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="w-full flex flex-column">
          <%= form.text_area :body, placeholder: "Remember to think before write...", class: "w-full" %>
          <%= form.submit "UPDATE", class: "button button--primary text-decoration-none my-1 new-btn tweet-btn" %>
        </div>

      <% end %>
    <% end %>

  </div>
</section>