<header class="header py-1 my-1">
  <div class="container-lg">
    <nav class="navbar">
      <input type="checkbox" id="menu-mobile" />

      <a href="/" class="text-decoration-none header--menu-mobile">
        <%= image_tag "icons/logo.png" %>
      </a>

      <!-- option 1 -->
      <label for="menu-mobile" id="toggle-close">
        <i class="ri-close-fill ri-xl"></i>
      </label>

        <!-- option 2 -->
      <label for="menu-mobile" id="toggle-open">
        <i class="ri-menu-line ri-xl"></i>
      </label>
        
      <ul class="expandable navbar--links list-style-none">
        <li>
          <a href="#" class="link text-sm">Message</a>
        </li>
        <li>
          <%= link_to "Home", root_path, class: "link text-sm" %>
        </li>
        <% if current_user %>
          <li>
            <%= link_to "Profile", user_path(current_user), class: "link text-sm"%>
          </li>
            <li>
                <%= link_to "Logout", destroy_user_session_path, class: "button text-decoration-none button--secondary", data: {turbo_method: :delete } %>
          </li>
        <% else %>
          <li>
              <%= link_to "Login", new_user_session_path,  class: "button text-decoration-none button--primary"%>
          </li>
        <% end %>
      </ul>

    </nav>
  </div>   
</header>